
* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul, ol {
	padding: 0;
}
ul li, ol li {
	list-style: none;
}

img {
	width: 100%;
	object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

html,
body {
	background-color: #fff;
	line-height: 1;
	font-size: 16px;
	font-weight: 400;
	font-family: "Montserrat", sans-serif;
	color: #000000;
	height: 100%;
}

body._lock {
	overflow: hidden;
}
body.lock {
	overflow: hidden;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	position: relative;
}

[class*=__container] {
	max-width: 1340px;
	margin: 0 auto;
	padding: 0 10px;
}

.page {
	flex: 1 1 auto;
	padding-top: 80px;
}

/*----------- header ----------------*/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 36px 0 20px;
	z-index: 6;
}
.header__body {
    display: flex;
    align-items: center;
}
.header__logo {
    font-size: 30px;
    margin-right: 140px;
    .header__logo-link {
        color: #fff;
    }
}
.header__menu {
    .menu__list {
        display: flex;
        align-items: center;
        .menu__link {
            margin-right: 44px;
            a {
                color: #fff;
            }
        }
    }
}
.menu__icon {
}

/*----------- Main ----------------*/

.hero {
	z-index: 5;
	position: relative;
	height: 100vh;
}
.main__bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	img {
		height: 100vh;
	}
}
.hero__body {
	position: relative;
	z-index: 4;
    display: flex;
    align-items: center;
	padding-top: 16%;
}
.hero__left {
	color: #fff;
	max-width: 538px;
	z-index: 2;
	.hero__title {
		font-size: 64px;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	.hero__sub-title {
		font-size: 24px;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 24px;
	}
	.hero__text {
		font-size: 18px;
		font-weight: 400;
		line-height: 1.4;
	}	
}
.hero__buttons {
	margin-top: 64px;
	display: grid;
    grid-template-columns: 1fr 1fr;
	gap: 20px;
	.btns__hero{
		display: block;
		font-size: 16px;
		font-weight: 700;
		padding: 21px 25px;
		text-align: center;
	}
	.main__btn {
		color: #000000;
		background: #fff;
	}
	.second__btn {
		color: #fff;
		border: 1px solid #fff;
	}
}

.hero__img {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 790px;
	transform: translateX(23%);
	z-index: 3;
	&::before {
		content: '';
		position: absolute;
		display: block;
		background: #000;
		width: 740px;
		height: 740px;
		border-radius: 50%;
		top: 30px;
		right: 0;
		box-shadow: 
		0px 0px 77px 0px #4F4F4F, 
		0px 0px 154px 0px #E2E2E2, 
		0px 0px 541px 0px #E2E2E2, 
		0px 0px 1083px 0px #4f4f4f, 
		0px 0px 1857px 0px #4f4f4f, 
		0px 0px 3251px 0px #4f4f4f;
	}
	.img__balance {
		position: relative;
		max-width: 660px;
	}
}




@media screen and (max-width:960px) {
	.hero__img {
		display: none;
	}
	.hero__body {
		padding-top: 30%;
	}
}